/* Main CSS */
body{
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

p{
	/*color: #656565;*/
}

/* Call Outs Section */
.callOuts h5{
	font-weight: bold;
}

.callOuts p{
	color: #7a7c7f;
	font-size: .8rem;
}

.callOuts img{
	margin-bottom: 15px;
}

/***** Responsive Code *****/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}